body {
  margin: 0;
}

select {
  font-size: 16px;
  line-height: 24px;
  margin: 5px;
  padding: 5px;
  border: .0625rem solid #d2d2d7;
  border-radius: .25rem;
  box-sizing: border-box;
  font-family:inherit;
}

figure {
  margin: 5px;
}

.header {
  font-size: 2.5em;
  color: #fff;
  background-color: #1A4171;
  padding: 10px 5%;
}

.body {
  margin: 0 5%;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 1700px) {
.container {
  grid-template-columns: repeat(4, 1fr);
}
}

@media screen and (max-width: 1400px) {
.container {
  grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width: 1050px) {
.container {
  grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 680px) {
.container {
  grid-template-columns: repeat(1, 1fr);
}
}
